.Homepage{
  background-color: crimson;
  height: max-content;
}


.layout-border{
  border: 1px solid #61dafb;
}

.container-border {
  padding: 10px;
  margin: 10px;
  border: 1px solid #282c34;

}

.row-border {
  padding: 10px;
  margin: 10px;
  border: 1px solid #88fb40;
}